.results {
  margin-top: 0;
}
.character-cards {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .character-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .character-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
