.character-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 246px;
  color: #fff;
}

.character-card figure {
  margin: 0;
  overflow: hidden;
  flex: 1;
}

.character-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.character-card footer {
  align-items: center;
  background-color: black;

  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  z-index: 1;
}

.character-card footer:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0.08);
  transform-origin: top center;
  background: var(--color-danger);

  z-index: -1;
  transition: transform 0.3s;
}

.character-card:hover footer:after {
  transform: scaleY(1);
}
